/* ----------------------------------------  */
/* |                                |  */
/* ----------------------------------------  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d2d2d2;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-image:
    repeating-linear-gradient(
      to right,
      transparent 0 100px,
      #25283b22 100px 101px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 100px,
      #25283b22 100px 101px
    );
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

body::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 10%;
  left: 50%;
  height: 90%;
  z-index: 0;
  transform: translateX(-50%);
  content: "";
  background-image: url(images/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}
.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  font-family: "Sofia", sans-serif;
  font-size: 15px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 10;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  cursor: pointer;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}
.banner .slider .item img {
  width: 100%;
  object-fit: cover;
}
.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 16em;
  line-height: 1em;
  color: #25283b;
  position: relative;
}
.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}
.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 300px;
}
.banner .content h2 {
  font-size: 3em;
}
.banner .content .model {
  background-image: url(images/model.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

/* ---------- LIGHTBOX ---------- */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 333;
}

.lightbox img {
  max-width: 400px;
  max-height: 650px;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}

.close-btn {
  position: absolute;
  top: 50px; /* sube la X */
  right: 50px; /* la corre hacia la derecha */
  font-size: 40px;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

button {
  background: rgba(248, 232, 90, 0.8);
  position: absolute;
  width: 200px;
  height: 50px;
  top: 775px;
  border-radius: 30px;
}
button:hover{
  background-color: #e4ee52;
  color: rgb(32, 39, 44);
  border: 2px solid black;
  box-shadow:2px 2px 2px 2px #25283b ;
}
/* Cuando el slider está detenido */
.slider.paused {
  animation-play-state: paused;
}

/* === Animación de zoom === */
.lightbox-content {
  position: relative;
  display: inline-block;
  animation: zoomFrom 1.35s ease forwards;
}

@keyframes zoomFrom {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
