 *{
    padding: 0;
    margin: 0;
}

 header{
    display: flex;
    align-items: center;
    background: #f9f5f9;
    padding: 10px 28px;
}

header img{
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    margin-right: auto;
    border-radius: 50%;
}

.img {
    margin-right: auto;
}


.menu{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left: auto;
}

.menu1{
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    color: #000;
    font-size: 15px;
    box-shadow: #f1dfdf 2px 2px 0px;
}

.menu1:hover{
    background: #e4bc95;
    color: white;
    transition: all 0.3s ease;
}

.menu a.activo {
  background: #dbb895;
  color: white;
  transition: 0.3s ease;
}
 
/* Ocultar checkbox */
#menu-toggle{
    display: none;
}

/* Icono hamburguesa */
.menu-icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    color: rgb(12, 12, 12);
}


@media (max-width: 700px) {
    
    .menu{
        position: fixed;
        top: 0;
        right: -352px;   /* 👈 empieza fuera de la pantalla */
        height: 70vh;
        width: 350px;
        background-color: rgba(239, 229, 239, 0.8);
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        gap: 25px;
        transition: 0.8s ease;
        border-left: 2px solid #e76ce7;
        z-index: 200;
        border-top-left-radius: 200px;
        border-bottom-left-radius: 300px;
    }

    /* Cuando se active el checkbox */
    #menu-toggle:checked ~ nav .menu{
        right: 0;   /* 👈 entra a la pantalla */
    }

    .menu1{
        padding: 10px 80px;
        border: none;
        background-color: #f9f5f9;
        box-shadow: #925959 2px 2px 0px;
    }

    .menu1:hover{
        background: #e4bc95;
        color: white;
        transition: all 0.3s ease;
    }

    .menu-icon{
        display: block;
        z-index: 201;
    }
    
}